<h1>Foodinary</h1>

<container>
	<h3 class="list_title">Reviewed Restaurants</h3>
	<article>
		<p class="restaurant_name">Restaurant name:</p>
		<p class="ave_rating">Rating:</p>
	<article>
</container>

