<%= link_to 'Home', root_path %>

<center>
<p class="restaurant_name"><%= @restaurant.name %></p>
<p class="restaurant_description"><%= @restaurant.description %></p>
</center>

<%= link_to 'Edit Restaurant Profile', edit_restaurant_path %>